---

- name: Ensure openssl is present
  package:
    name: openssl
    state: present

- name: apt | self-signed certificate packages dependencies
  apt: name={{item}} state=present update_cache=yes cache_valid_time=3600
  with_items:
    - ssl-cert
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Generate SSL self-signed certificate
  command: >
    openssl req -x509 -nodes -sha256 -days {{ kolide_certduration }} -newkey rsa:2048 
        -subj "{{ kolide_certinfo }}/CN={{ kolide_cn }}"
        -keyout {{ ssl_privatedir }}/{{ ansible_fqdn }}.key 
        -out {{ ssl_dir }}/{{ ansible_fqdn }}.crt
        creates={{ ssl_dir }}/{{ ansible_fqdn }}.crt

- name: check private key has good file permissions
  file: "path={{ ssl_privatedir }}/{{ ansible_fqdn }}.key owner=root group={{ ssl_user }} mode=0440"

