{{ ansible_managed | comment }}

[Unit]
Description=kolide server
Requires=redis.service
{% if kolide_mysql_host == 'localhost' %}
Wants=mysqld.service
After=redis.service mysqld.service
{% else %}
After=redis.service
{% endif %}
 
[Service]
LimitNOFILE=8192
User=_kolide
Group=_kolide
ExecStart={{ kolide_bin_prefix }}/bin/fleet serve \
  --mysql_address={{ kolide_mysql_host }}:3306 \
  --mysql_database={{ kolide_mysql_db }} \
  --mysql_username={{ kolide_mysql_user }} \
  --mysql_password='{{ kolide_mysql_pass }}' \
  --redis_address=127.0.0.1:6379 \
  --server_address={{ kolide_ip_listen }}:{{ kolide_port }} \
  --server_cert={{ kolide_certificate_cert }} \
  --server_key={{ kolide_certificate_key }} \
  --server_tls={{ kolide_server_tls | default('true') }} \
  --logging_json \
  --auth_jwt_key='{{ kolide_auth_jwt_key }}'
Environment="KOLIDE_FILESYSTEM_RESULT_LOG_FILE={{ kolide_logdir }}/osquery_result,KOLIDE_FILESYSTEM_STATUS_LOG_FILE={{ kolide_logdir }}/osquery_status"
UMask=0022
TimeoutSec=30
RestartSec=15s
#Restart=always
Restart=on-failure
SyslogIdentifier=kolide
PrivateTmp=true
NoNewPrivileges=yes
ProtectHome=read-only
ProtectKernelTunables=true
ProtectSystem=full
RestrictRealtime=true
 
[Install]
WantedBy=multi-user.target
