# {{ ansible_managed }}
[Unit]
Description=kolide server
Requires=redis.service
Wants=mysqld.service
After=redis.service mysqld.service
 
[Service]
## no daemon mode
Type=simple
## daemon mode
#Type=forking
User=_kolide
Group=_kolide
ExecStart=/usr/bin/kolide serve --config /etc/kolide/kolide.yml
UMask=0022
TimeoutSec=30
RestartSec=15s
#Restart=always
Restart=on-failure
SyslogIdentifier=kolide
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
