{{ ansible_managed | comment }}

[Unit]
Description=kolide server
Requires=redis.service
{% if kolide_mysql_host == 'localhost' %}
Wants=mysqld.service
After=redis.service mysqld.service
{% else %}
After=redis.service
{% endif %}
 
[Service]
## no daemon mode
Type=simple
## daemon mode
#Type=forking
User=_kolide
Group=_kolide
ExecStart={{ kolide_bin_prefix }}/bin/fleet serve --config /etc/kolide/kolide.yml
UMask=0022
TimeoutSec=30
RestartSec=15s
#Restart=always
Restart=on-failure
SyslogIdentifier=kolide
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
